[Unit]
Description=LoliHost File Host

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target