[Unit]
Description=Tytanium File Host

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target